#include <windows.h>
#include "resource.h"
#pragma code_page(65001)

IDI_APP ICON "countdown.ico"
1 RT_MANIFEST "countdown.manifest"

IDD_SETTINGS DIALOGEX 0, 0, 248, 240
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "倒计时设置"
FONT 9, "Microsoft YaHei UI"
BEGIN
    LTEXT "默认时长", -1, 12, 12, 50, 12
    EDITTEXT IDC_HOURS, 74, 10, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    LTEXT "时", -1, 108, 13, 12, 10
    EDITTEXT IDC_MINUTES, 123, 10, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    LTEXT "分", -1, 157, 13, 12, 10
    EDITTEXT IDC_SECONDS, 172, 10, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    LTEXT "秒", -1, 206, 13, 14, 10
    LTEXT "最小时长 (min)", -1, 12, 33, 62, 12
    EDITTEXT IDC_MIN_HOURS, 74, 31, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    LTEXT "时", -1, 108, 34, 12, 10
    EDITTEXT IDC_MIN_MINUTES, 123, 31, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    LTEXT "分", -1, 157, 34, 12, 10
    EDITTEXT IDC_MIN_SECONDS, 172, 31, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    LTEXT "秒", -1, 206, 34, 14, 10
    LTEXT "最大时长 (max)", -1, 12, 54, 62, 12
    EDITTEXT IDC_MAX_HOURS, 74, 52, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    LTEXT "时", -1, 108, 55, 12, 10
    EDITTEXT IDC_MAX_MINUTES, 123, 52, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    LTEXT "分", -1, 157, 55, 12, 10
    EDITTEXT IDC_MAX_SECONDS, 172, 52, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    LTEXT "秒", -1, 206, 55, 14, 10
    CONTROL "语音倒数", IDC_VOICE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 78, 58, 12
    LTEXT "最后", -1, 74, 79, 25, 10
    EDITTEXT IDC_VOICE_SECONDS, 103, 76, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    LTEXT "秒 (1–60)", -1, 138, 79, 62, 10
    LTEXT "语音音量 (%)", -1, 12, 98, 64, 12
    EDITTEXT IDC_VOLUME, 103, 96, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    PUSHBUTTON "试听", IDC_PREVIEW, 172, 95, 48, 16
    LTEXT "背景不透明度 (%)", -1, 12, 122, 85, 12
    EDITTEXT IDC_BACKGROUND, 103, 120, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    PUSHBUTTON "背景颜色…", IDC_BG_COLOR, 172, 119, 62, 16
    LTEXT "时间不透明度 (%)", -1, 12, 143, 85, 12
    EDITTEXT IDC_TEXT_ALPHA, 103, 141, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    PUSHBUTTON "时间颜色…", IDC_COLOR, 172, 140, 62, 16
    LTEXT "锁定后不透明度 (%)", -1, 12, 164, 90, 12
    EDITTEXT IDC_LOCK_ALPHA, 103, 162, 30, 14, ES_NUMBER | ES_RIGHT | WS_TABSTOP
    CONTROL "始终置顶", IDC_TOPMOST, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 188, 80, 12
    CONTROL "悬停操作提示", IDC_HINT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 125, 188, 100, 12
    PUSHBUTTON "恢复默认", IDC_RESET_SETTINGS, 12, 212, 56, 18
    DEFPUSHBUTTON "确定", IDOK, 116, 212, 56, 18
    PUSHBUTTON "取消", IDCANCEL, 180, 212, 56, 18
END

1 VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "080404b0"
  BEGIN
   VALUE "FileDescription", "倒计时\0"
   VALUE "FileVersion", "0.1.0\0"
   VALUE "OriginalFilename", "countdown.exe\0"
   VALUE "ProductName", "倒计时\0"
   VALUE "ProductVersion", "0.1.0\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x804, 1200
 END
END
